*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ABeeZee", sans-serif;
}

:root {
  --fs-10px: 0.625rem;
  --fs-12px: 0.75rem;
  --fs-14px: 0.875rem;
  --fs-16px: 1rem;
  --fs-20px: 1.25rem;
  --fs-24px: 1.5rem;
  --fs-30px: 1.875rem;
  --fs-50px: 3.125rem;
  --fs-70px: 4.375rem;
  --fs-96px: 6rem;
}

.body {
  height: 100vh;
  background-color: #F5F5F5;
}

ul {
  padding: 0.494rem;
}

li {
  list-style: none;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: #141615;
  font-size: var(--fs-12px);;
}

a:hover {
  color: darkred;
  font-display: bold;
}

.navbar {
  width: 100%;
  height: 3.125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 1%;
}

.home {
  width: 7.169rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 1.875rem;
  height: 1.875rem;
}

.links {
  display: flex;
  gap: 2rem;
}

.links_images {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.image_buttons {
  width: 11.987rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-left: auto;
}

.toggle_btn {
  display: none;
  margin-right: auto;
}

.bars {
  width: 1.313rem;
  height: 1 rem;
}

.close_btn {
  height: 3.125rem;;
}

/* Dropdown Menu */
.dropdown_menu {
  display: none;
  top: 0.1rem;
  left: 2rem;
  position: absolute;
  width: 90%;
  height: 0;
  background-color: #F5F5F5;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 50.75rem;
}

.dropdown_menu li{
  padding: 0.7rem;
}

/* Responsive Design */
@media(max-width: 375px){
  .links{
    display: none;
  }
  .navbar .toggle_btn {
    display: block;
  }
  .navbar .close_btn {
    display: block;
  }
  .dropdown_menu {
    display: block;
  }
  .bars {
    width: 1.313rem;
    height: 1 rem;
  }
}

/* MAIN IMAGE */
.main_image_div {
  background-image: url(images/M_Mercedes_CLS.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  display: flex;
  align-items: flex-start;
  position: relative;
  }
  
  .main_image_text_div {
    width: 60vw;
    padding-left: 3%;
    padding-top: 5%;
    position: absolute;
    height: 25vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #F5F5F5;
  }

  .title_main_image{
    font-family: "Abhaya Libre", serif;
    font-weight: 100;
    font-size: var(--fs-96px);
  }

  .small_text_main_image {
    font-family: "ABeeZee", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: var(--fs-24px);
  }

  @media(width < 1440px) {
    .main_image_text_div {
      top: 65%;
      }

    .title_main_image{
      font-family: "Abhaya Libre", serif;
      font-weight: 100;
      font-size: var(--fs-70px);
    }

    .small_text_main_image {
      font-family: "ABeeZee", sans-serif;
      font-weight: 200;
      font-style: normal;
      font-size: var(--fs-20px);
    }
  }

  @media(width < 1150px) {
    .title_main_image{
      font-family: "Abhaya Libre", serif;
      font-weight: 100;
      font-size: var(--fs-50px);
    }

    .small_text_main_image {
      font-family: "ABeeZee", sans-serif;
      font-weight: 200;
      font-style: normal;
      font-size: var(--fs-16px);
    }
  }

  @media(width < 800px) {
    .title_main_image{
      font-family: "Abhaya Libre", serif;
      font-weight: 100;
      font-size: var(--fs-30px);
    }

    .small_text_main_image {
      font-family: "ABeeZee", sans-serif;
      font-weight: 200;
      font-style: normal;
      font-size: var(--fs-12px);
    }
  }

  @media(width < 500px) {
    .main_image_text_div {
      top: 57%;
      }
    .title_main_image{
      font-family: "Abhaya Libre", serif;
      font-weight: 100;
      font-size: var(--fs-24px);
    }

    .small_text_main_image {
      font-family: "ABeeZee", sans-serif;
      font-weight: 200;
      font-style: normal;
      font-size: var(--fs-12px);
    }
  }

 /* GRAY CARDS */
.new_cards {
  width: 100%;
  height: 90dvw;
  display: flex;
  flex-wrap: wrap;
  row-gap: 5%;
  column-gap: 5%;
  padding: 3% 4% 3% 4%;
  text-align: center;
  justify-content: center;
}

.gray_card {
  width: 47.5%;
  height: 47.5%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #D9D9D9;
  border-radius: 3%;
}

.gray_card_text {
  height: 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.card_title {
  font-size: var(--fs-30px);
}

.card_p {
  font-size: var(--fs-16px);
}

.button_p {
  font-size: var(--fs-12px);
}

.gray_card_image{
  background-image: url(images/2023-E450-CABRIOLET-AVP-D\ 1.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50%;
  display: flex;
}

.gray_card_image_2{
  background-image: url(images/mercedes_SUV.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50%;
  display: flex;
}

.gray_card_image_3{
  background-image: url(images/mercedes_cabriolet_2.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50%;
  display: flex;
}

.gray_card_image_4{
  background-image: url(images/Mercedes_SUV_2.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50%;
  display: flex;
}

.gray_card_menu {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gray_card_button {
  width: 35%;
  height: 80%;
  background-color: white;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 2.813rem;
}

.round_buttons {
  width: 41%;
  height: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.gray_button {
  width: 15.5%;
  height: 48%;
  border-radius: 70%;
  border-color: white;
  background-color: #C5C5C5;
  border-width: 0.2rem;
  border-style: solid;
  list-style: none;
  position: relative;
}

@media(max-width: 375px) {
  
}

/* NEAREST DEALER */

.nearest_dealer_div {
  height: 25vh;
  padding: 2% 3% 2% 3%;
  gap: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nearest_dealer_title {
  width: 60%;
  font-size: var(--fs-96px);
  font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.nearest_dealer_p {
  width: 30%;
  font-size: var(--fs-24px);
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* WORLD MAP */
.world_map_div {
background-image: url(images/world_map.png);
background-size: cover;
background-position: center;
width: 100%;
height: 0;
padding-bottom: 80%;
display: flex;
flex-direction: row;
align-items: center;
position: relative;
}

.world_image_text_div {
  width: 29.118rem;
  height: 20rem;
  background-color: #A2A2A282;
  border-radius: 0.875rem;
  padding: 2%;
  font-size: var(--fs-50px);
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
  justify-content: space-between;
  align-items: center;
  color: #F5F5F5;
  position: absolute;
  left: 3%;
  top: 40%;
}

.world_map_button {
  width: 15.881rem;
  height: 3.188rem;
  border: none;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  color: black;
  border-radius: 5rem;
  font-size: var(--fs-12px);
  left: 25%;
}

/* HORIZONTAL CARDS */
.horizontal_scroll_gallery{
  width: 100%;
  overflow: hidden;
}
.strip {
  width: 120vw;
  height: 40vw;
  display: flex;
  flex-direction: row;
  padding: 3% 0% 0% 3%;
  text-align: center;
  overflow: scroll;
}

.scroll_card {
  width: 40vw;
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #D9D9D9;
  border-radius: 3%;
  margin-right: 2%;
}

.scroll_card_text {
  height: 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.scroll_card_title {
  font-size: var(--fs-30px);
}

.scroll_card_image_1 {
  background-image: url(images/interior_mercedes.jpeg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50%;
  display: flex;
}

.scroll_card_menu {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.scroll_wrapper {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 2%;
}

.scroll {
  width: 100%;
  height: 0.938rem;
  background-color: #D9D9D9;
  border-radius: 0.813rem;
  position: relative;
}

.scroll_indicator {
  width: 50%;
  height: 90%;
  background-color: #949494;
  border-radius: 0.375rem;
  position: absolute;
  justify-content: center;
}

/* HORIZONTAL CARDS RESPONSIVE */

/* RED CAR */
.red_car_div {
  background-image: url(images/red_car.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 0;
  padding-bottom:55%;
  display: flex;
  align-items: flex-start;
  position: relative;
  }
  
  .red_car_text {
    width: 60vw;
    padding-left: 3%;
    padding-top: 5%;
    position: absolute;
    height: 25vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: #F5F5F5;
    top: 60%;
  }

  .red_car_title {
    font-family: "ABeeZee", sans-serif;
    font-weight: 100;
    font-size: var(--fs-50px);
  }

  .red_car_small_text {
    width: 25vw;
    font-family: "ABeeZee", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: var(--fs-14px);
  }

/* RED CAR RESPONSIVE */

/* WHEEL PROGRAM */

.wheel_program_wrapper {
  height: 51rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.wheel_program_text {
  width: 50vw;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 3%;
}

.wp_title {
  font-size: var(--fs-50px);
  bottom: 3%;
}

.wp_small {
  width: 27vw;
  font-size: var(--fs-14px);
  bottom: 3%;
}

.learn_more_link {
  height: 2.313rem;
  font-size: var(--fs-12px);
}

.wheel_program_image {
  background-image: url(images/red_car_wheel.png);
  background-size: cover;
  background-position: center;
  width: 47%;
  height: 0;
  padding-bottom: 50%;
  display: flex;
  align-items: flex-start;
  position: relative;
  object-fit: cover;
}

/* WHEEL PROGRAM RESPONSIVE */

/* FOOTER */

footer {
  height: 59.313rem;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
}

/* FOOTER RESPONSIVE */

/* GRAY FOOTER */
.direct_contact {
  width: 100%;
  height: 10vh;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(86, 86, 86);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.direct_contact_text_div {
  width: 60%;
  font-size: var(--fs-20px);
  color: white;
  justify-content: flex-start;
}

a.direct_contact_button {
  width: 12.5rem;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3.75rem;
  border: none;
  background-color: white;
  color: #000000;
}

/* GRAY FOOTER RESPONSIVE */


/* BLACK FOOTER */
.black_footer {
  height: 20vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3%;
}

.newsletter_title {
  font-size: var(--fs-20px);
  padding-top: 3%;
  padding-bottom: 3%;
}

.black_footer_2 {
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

/* BLACK FOOTER RESPONSIVE */


/* SUBSCRIBE */
.subscribe_privacy_policy {
  width: 29.118rem;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe {
  width: 29.118rem;
  height: 3.25rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 10%;
}

.subscription_field {
  height: 3.125rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center
}

.input_field {
  width: 29.118rem;
  height: 3.125rem;
  position: relative;
  border-style: solid;
  border-color: #F5F5F5;
  border-radius: 5rem;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: start;
}
.email_text {
  font-size: var(--fs-14px);
  color: white;
  position: absolute;
  padding: 3%;
}
.subscribe_button {
  width: 9rem;
  height: 3.125rem;
  border-radius: 5rem;
  border: none;
  position: absolute;
  background-color: #F5F5F5;
  color: #000000;
}
.privacy_policy_container {
  width: 38.118rem;
  height: 4.438rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.checkbox {
  width: 1.25rem;
  height: 1.25rem;
  border-style: solid;
  border-color: #F5F5F5;
  margin-right: 2%;
}
.privacy_policy_text {
  font-size: var(--fs-12px);
  display: flex;
  align-items: start;
  padding-left: 1rem;
}
.social_media_logos {
  width: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2%;
}

/* SUBSCRIBE RESPONSIVE */

/*  FOOTER MENU  */
.footer_menus_div {
  height: 18.938rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10rem;
  justify-content: center;
  padding-top: 3rem;
}
.footer_menus_small_div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 5%;
}
.black_footer_2_title {
  font-size: var(--fs-20px);
  padding-bottom: 2rem;
}
.black_footer_2_subtitle {
  font-size: var(--fs-14px);
  padding-bottom: 1rem;
  opacity: 60%;
}

/* FOOTER MENU RESPONSIVE */

/* FONTS */
.abeezee-regular {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  .abeezee-regular-italic {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  .abhaya-libre-regular {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
  }
  .abhaya-libre-medium {
    font-family: "Abhaya Libre", serif;
    font-weight: 500;
    font-style: normal;
  }
  .abhaya-libre-semibold {
    font-family: "Abhaya Libre", serif;
    font-weight: 600;
    font-style: normal;
  }
  .abhaya-libre-bold {
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .abhaya-libre-extrabold {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-style: normal;
  }
  .abeezee-regular {
    font-family: "ABeeZee", serif;
    font-weight: 400;
    font-style: normal;
  }
  .abeezee-regular-italic {
    font-family: "ABeeZee", serif;
    font-weight: 400;
    font-style: italic;
  }
  


