*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "ABeeZee", sans-serif;
}
.body {
  height: 100vh;
  background-color: #F5F5F5;
}

/*! Use background-image for text on top of an image!!! 
background-size: cover;
background-position: center;
*/

li {
  list-style: none;
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: none;
  color: #141615;
  font-size: 1rem;
}

a:hover {
  color: darkred;
  font-display: bold;
}

.navbar {
  width: 100%;
  height: 3.125rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden
}

.home {
  width: 7.169rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 1.875rem;
  height: 1.875rem;
}

.links {
  display: flex;
  gap: 2rem;
}

.image_buttons {
  width: 11.987rem;
}


.bars {
  width: 1.313rem;
  height: 1 rem;
}



.abeezee-regular {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .abeezee-regular-italic {
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .abhaya-libre-regular {
    font-family: "Abhaya Libre", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .abhaya-libre-medium {
    font-family: "Abhaya Libre", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .abhaya-libre-semibold {
    font-family: "Abhaya Libre", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .abhaya-libre-bold {
    font-family: "Abhaya Libre", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .abhaya-libre-extrabold {
    font-family: "Abhaya Libre", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .abeezee-regular {
    font-family: "ABeeZee", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .abeezee-regular-italic {
    font-family: "ABeeZee", serif;
    font-weight: 400;
    font-style: italic;
  }
  


